#App {
  min-height: 100vh;
}

.county {
  stroke: rgb(255, 255, 255);
  stroke-width: 1;
  cursor: pointer;
}

.county:hover {
  position: relative;
  fill: rgb(0, 162, 255);
}

.line {
  fill: none;
  stroke: #ffab00;
  stroke-width: 3;
}

.card {
  margin-bottom: 1rem;
}

.card-header {
  background-color: white;
}

.card-header h2 {
  font-size: 27px;
  line-height: 36px;
}
